Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: openjdk-7-jre-headless
Maintainer: Dhatim <contact@dhatim.net>
Description: Dhatim maven, jdeb and docker sample application
